<header class="mdc-toolbar">
    <mat-toolbar-row>
        <nav class="navbar navbar-light">
            <form class="form-inline">
              <button routerLink="/" class="btn btn-outline-success m-3" type="button">Home</button>
              <button routerLink="/products" class="btn btn-sm btn-outline-secondary" type="button">Products</button>
            </form>
          </nav> 
          
          <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
    </mat-toolbar-row>
</header>